*{
					padding:0;
					margin:0;
					color:rgb(255 255 255/80%);
			}
			html {
				background: url(imgs/fondo.png) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			body{
				overflow:hidden;
				
			}
			h1, h2{
				margin:20px 0 20px 0px;
				padding:10px;
				color:rgb(200, 200, 200);
				
			}
			#head h1{
				text-align:center;
			}
			#head p{
				margin-left:15px;
			}
			.parraf{
				line-height:20px;
			}
			#documento{
				
			
				position:fixed;
				
				width:100%;
				height:100%;
				
				overflow-y:auto;
			}
			#pagina{
				background:linear-gradient( rgb(255 255 255 / 10%), rgb(255 255 255 / 20%));;
				padding:20px;
				width:810px;
				margin:20px auto;
			}
							#vaporwave, #retro{
									background:rgb(255 255 255/10%);
									margin-top:20px;
									padding:4px 10px 15px 0;
							}
			
			
			#vaporwave p, #retro p{
				width:426px;
				margin-left:20px;
				padding:10px;
			}
			.imga{
				background:gray;
				z-index:2;
				position:relative;
				bottom:265px;
				
				float:right;
				box-shadow:5px 2px 8px gray;
			}
			.imga .imga-link{				
				text-align:center;
				padding:10px 0;
			}
			#retro .imga .imga-link{
				font-size:13px;
				
			}
			#footer p{
				background:pink;
				width:100%;
			}
			.imagen{
				background:green;
			}
			.imagen .animacion{
				background:white;
				position:absolute;
				top:0;
				width:100%;
				height:80%;
				opacity:0;
				transition:0.5s;
			}
			.imga:hover .animacion{
				opacity:0.2;
			}
